
.btngap {
  margin: 55px;
}
table, th, td {
  border: 1px solid;
  padding: 10px;
  width:700px;
}
.text {
  padding-bottom: 25px;
  
  
}
.overflow{
  overflow: auto;
}
.inputt{
  margin-top: 25px;
}
.img {
  margin-top: 100px;
  height: 300px;
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
border-radius: 50px;
  background-image: url("../public/2.png");
}
.yellow{
  background-color: rgb(235, 180, 252);
}
.shadow{

}
.gap {
  margin-top: 15px;
}
/* *{
  background-image: url("../public/milad-fakurian-lz8j9lMe-oA-unsplash.jpg");
} */

/* .btn-three {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
} */